# **Understanding Python Functions Arguments**

---

# **1. Function Arguments**

---


**Definition:**

Arguments are values passed to a function when calling it. Python supports multiple types of arguments.

Example:

In [1]:
def show():
  print("This is show function")

In [2]:
show()

This is show function

In [3]:
def show(message):
  print(message)

In [4]:
show("Welcome to Python")

Welcome to Python

# **2. Positional Arguments**

---


Definition:

Positional arguments are matched to function parameters based on their position in the function call.

Example:

In [5]:
def person_info(name, age):
    print(f"Name: {name}, Age: {age}")

In [6]:
person_info("Alice", 25)  # Correct

Name: Alice, Age: 25

In [7]:
person_info(25, "Alice")  # Incorrect order

Name: 25, Age: Alice

In [10]:
person_info(age=25, name="Alice")

Name: Alice, Age: 25

# **3. Default Arguments**

---



**Definition:**

Default arguments have predefined values that are used if no value is provided during the function call.

Example:

In [22]:
def my_sum(a=60,b=50,c=30):
  return a+b+c

In [15]:
my_sum(10,20,40)

70

In [16]:
my_sum(20,40)

90

In [20]:
my_sum(30)

110

In [23]:
my_sum()

140

# 4. **args (Variable-Length Positional Arguments)**
---


Definition:

*args allows a function to accept multiple positional arguments as a tuple.

Example:

In [26]:
def sum_numbers(*args):
    total = sum(args)
    print("Sum:", total)

In [27]:
sum_numbers(1, 2, 3)   # Output: Sum: 6
sum_numbers(10, 20, 30, 40)  # Output: Sum: 100

Sum: 6
Sum: 100

# 5. kwargs (Variable-Length Keyword Arguments)

---


Definition:

**kwargs allows passing multiple keyword arguments, which are stored as a dictionary.

Example:

In [28]:
def person_details(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [30]:
person_details(name="Alice", city="New York")
# Output:
# name: Alice
# city: New York

name: Alice
city: New York

In [31]:
person_details(name="Alice",age=32, city="New York")

name: Alice
age: 32
city: New York

In [32]:
person_details(name="Alice",age=32,salary=2000, city="New York")

name: Alice
age: 32
salary: 2000
city: New York

# **Correct Order of Arguments in Function Definition**

---

In [33]:
def my_function(pos1, pos2, default1="default", *args, **kwargs):
    print(f"Positional: {pos1}, {pos2}")
    print(f"Default: {default1}")
    print(f"Args: {args}")
    print(f"Kwargs: {kwargs}")

my_function("A", "B", "C", "D", "E", key1="value1", key2="value2")

Positional: A, B
Default: C
Args: ('D', 'E')
Kwargs: {'key1': 'value1', 'key2': 'value2'}

In [35]:
my_function("A","B")

Positional: A, B
Default: default
Args: ()
Kwargs: {}